.entry-header {
    display: none;
}
.saas-hero {
    align-items: center;
}

.saas-logo-section-image {
align-items: center;
}
.data-service{
    padding: 0 350px;
}
.saas-card01 {
    border: 2px solid black;
    border-radius: 16px;
    // color: #EBFFDB;
    height: 535px;
    //width: 370px;
}

.saas-card01-image {
    // padding-left: 120px;
    margin-bottom: -30px;
}

.saas-card02 {
    border: 2px solid black;
    border-radius: 16px;
    // color: #D5E9F8;
    height: 535px;
   // width: 370px;
}

.saas-card02-image {
    padding-left: 10px;
    margin-bottom: -50px;
}

.saas-card03 {
    border: 2px solid black;
    border-radius: 16px;
    // color: #C5B6F0;
    height: 535px;
    //width: 370px;
}

// .saas-card03-image {
//     // padding-left: 120px;
//     // margin-bottom: 10px;
// }

.saas-card04 {
    width: 534px;
    height: 134px;
    // padding: 0px 21px;
    // margin: 0;
}

.saas-card04-button {
    width: 100px;
    height: 35px;
    // padding: 0px 33px 0px 0px;
}
// .saas-card04-paragraph {
//     margin: -20px 0px 0px 0px;
// }
.overview-reports{
    padding: 0 350px;
}
.saas-card05 {
    //width: 534px;
    height: 136px;
    // padding: 0px 21px;
    // margin: 0;
}
.saas-card05-image {
    width: 80px;
    height: 80px;
}
.saas-card05-button {
    // padding: 0px 33px 0px 0px;
    width: 100px;
    height: 35px;
}
// .saas-card05-paragraph {
//     // // width: 220px;
//     // height: 60px;
//     // padding: 50px 0px 0px 0px;
// }

// .saas-card06 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card07 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card08 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

.saas-card09 {
    border: 2px solid black;
    border-radius: 16px;
}

.saas-card10 {
    border: 2px solid black;
    border-radius: 16px;
}

.saas-card11 {
    border: 2px solid black;
    border-radius: 16px;
}

.saas-card12 {
    border: 2px solid black;
    border-radius: 16px;
}

.saas-card13 {
    border: 2px solid black;
    border-radius: 16px;
}

.saas-card14 {
    border: 2px solid black;
    border-radius: 16px;
}

.three-column-grid-container {
    padding: 0 300px 0 375px;
}

.saas-card15 {
    border: 2px solid black;
    border-radius: 16px;
    color: #EBFFDB;
    // width: 370px;
    height: 616px;
    margin-right: 20px;
}

.saas-card16 {
    border: 2px solid black;
    border-radius: 16px;
    // width: 770px;
    height: 286px;
    margin-left: -30px;
}

// .saas-card16-image {
//     margin-bottom: 0px 0px 10px 0px;
// }

.saas-card17 {
    border: 2px solid black;
    border-radius: 16px;
    // width: 770px;
    height: 286px;
    margin-left: -30px;
}

// .saas-card17-image {
//     margin-bottom: -40px;
// }

.saas-card18 {
    border: 2px solid black;
    border-radius: 16px;
    color: #D5E9F8;
}

.saas-card19 {
    border: 2px solid black;
    border-radius: 16px;
    color: #FEF4DB;
}

.saas-card20 {
    border: 2px solid black;
    border-radius: 16px;
}

.saas-card21 {
    border: 2px solid black;
    border-radius: 16px;
    height: 430px;
}

.saas-card22 {
    border: 2px solid black;
    border-radius: 16px;
    height: 430px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .saas-footer1 {
    height: 3px;
  }
  
  .saas-footer2 {
    height: 3px;
  }