.saas-custom-card {
    width: 534px;
    height: 134px;
    padding: 0px 21px;
    margin: 0;
}
.saas-cards-container {
    width: 534px;
    height: 134px;
}
.saas-custom-card-button {
    padding: 0px 33px 0px 0px;
}
.saas-custom-card-paragraph {
    margin: -20px 0px 0px 0px;
}
