.saas-card01 {
    border: 2px solid black;
    border-radius: 16px;
    color: #EBFFDB;
}

.saas-card01-image {
    padding-left: 120px;
    margin-bottom: -30px;
}

.saas-card02 {
    border: 2px solid black;
    border-radius: 16px;
    color: #D5E9F8;
}

.saas-card02-image {
    padding-left: 150px;
    margin-bottom: -30px;
}

.saas-card03 {
    border: 2px solid black;
    border-radius: 16px;
    color: #C5B6F0;
}

.saas-card03-image {
    padding-left: 120px;
    margin-bottom: -30px;
}

.saas-card04 {
    width: 534px;
    height: 134px;
    padding: 0px 21px;
    margin: 0;
}
.saas-card04-container {
    width: 534px;
    height: 134px;
}
.saas-card04-button {
    padding: 0px 33px 0px 0px;
}
.saas-card04-paragraph {
    margin: -20px 0px 0px 0px;
}

.saas-card05 {
    width: 534px;
    height: 134px;
    padding: 0px 21px;
    margin: 0;
}
.saas-card05-container {
    width: 534px;
    height: 134px;
}
.saas-card05-button {
    padding: 0px 33px 0px 0px;
}
.saas-card05-paragraph {
    margin: -20px 0px 0px 0px;
}

// .saas-card06 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card07 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card08 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card09 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card10 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card11 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card12 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card13 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card14 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

.saas-card15 {
    border: 2px solid black;
    border-radius: 16px;
    color: #EBFFDB;
}

.saas-card16 {
    border: 2px solid black;
    border-radius: 16px;
}

// .saas-card16-image {
//     margin-bottom: -40px;
// }

// .saas-card17 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

.saas-card18 {
    border: 2px solid black;
    border-radius: 16px;
    color: #D5E9F8;
}

.saas-card19 {
    border: 2px solid black;
    border-radius: 16px;
    color: #FEF4DB;
}

// .saas-card20 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card21 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

// .saas-card22 {
//     width: ;
//     height: ;
//     padding: ;
//     margin: ;
// }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }